asgiref==3.9.1
coverage==7.10.6
Django==4.2.24
django-recurrence==1.11.1
numpy==2.0.2
pandas==2.3.2
pyaml==25.7.0
python-dateutil==2.9.0.post0
python-decouple==3.3
pytz==2025.2
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
